masks/kaonashi.hcmask
masks/2015-Top40-Time-Sort.hcmask
masks/pathwell_sorted.hcmask
masks/rockyou-1-60.hcmask
rules/OneRuleToRuleThemAll.rule
rules/T0XlC.rule
rules/best64.rule
rules/d3ad0ne.rule
rules/haku34K.rule
rules/hob064.rule
rules/kamaji34K.rule
rules/rockyou-30000.rule
rules/toggles-lm-ntlm.rule
rules/yubaba64.rule
wordlists/Password_Default_ProbWL.txt
wordlists/google-10000-english.txt
wordlists/realhuman_phill.txt
wordlists/hashkiller-dict.txt
wordlists/rockyou.dic
wordlists/default-passwords.txt
wordlists/kaonashi14M.txt
wordlists/probable-v2-wpa-top4800.txt
docs/test_files/results/*